chapters/annotations.aux
chapters/applications.aux
chapters/changes.aux
chapters/controllers.aux
chapters/controllers.log
chapters/engines.aux
chapters/events.aux
chapters/intro.aux
chapters/intro.log
chapters/license.aux
chapters/refs.aux
chapters/titlepage.aux
chapters/validation.aux
spec.aux
spec.log
spec.out
spec.synctex.gz
styles/jsrfrontstyle.aux
styles/jsrmainstyle.aux
styles/macros.aux
chapters/assertions.aux
chapters/assertions.log
spec.bbl
spec.blg
spec.ent
spec.thm
spec.toc
